@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-lg leading-relaxed;
  }
}

* {
  font-family: system-ui, -apple-system, blinkmacsystemfont, "segoe ui",
    "helvetica neue", helvetica, ubuntu, roboto, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  line-height: 1.625;
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 300;
  background: #101010;
}

h1,
h2,
h3,
h4,
h5,
.globalHeading {
  font-family: ui-serif, serif;
  color: white;
}

p {
  font-size: 1.25rem;
}

h1 {
}

.specialColor {
  color: #3a3a3a;
}
