@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: system-ui, -apple-system, blinkmacsystemfont, "segoe ui",
    "helvetica neue", helvetica, ubuntu, roboto, sans-serif;
  line-height: 1.625;
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 300;
  background: #101010;
  padding-left: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: ui-serif, serif;
  color: white;
}

p,
li {
  font-size: 1.25rem;
  line-height: 1.75;
}
